<div class="card shadow mb-4">
    <div class="card-header py-3">
        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#add-modal">
            Add
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="#add-modal">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Types</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < pokemon.length; i++){ %>
                        <tr>
                            <td>
                                <%= pokemon[i].number %>
                            </td>
                            <td>
                                <%= pokemon[i].name %>
                            </td>
                            <td>
                                <%= pokemon[i].types %>
                            </td>
                            <td class="text-center">
                                <form action="/pokemon/<%= pokemon[i].id %>?_method=DELETE" method="post">
                                    <a href="javascript:void()" class="btn btn-outline-warning btn-sm button-update" data-id="<%= pokemon[i].id %>" data-number="<%= pokemon[i].number %>" data-name="<%= pokemon[i].name %>" data-types="<%= pokemon[i].types %>">Edit</a>
                                    <button type="submit" class="btn btn-outline-danger btn-sm" onclick="return confirm('Apa kamu yakin ingin menghapus data ini?');">
                            Delete
                        </button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>